.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbotron-fluid {
  background: #007bff !important;
}
.form-row {
  justify-content: center !important;

}

.form-control {
  margin-bottom: 20px;
}
.card.body {
  margin-bottom: 20px !important;
}
.card-header {
  background: gray !important;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-secondary {
  color: black !important;
  font-weight: 600 !important;
}

.row {
  justify-content: center;
}